* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.header {
  background-color: #00aeff;
  /* display: flex; */
}
.navUl {
  /* display: inline-block; */
  list-style: none;
  display: flex;
} 
.header .logo {
  width: 90px;
  height: 34px; 
}
.header .navBar .whatsapp_logo {
  width: 32px;
  height: 32px; 
}
.header .accountDiv .avatar {
  width: 30px;
  height: 30px; 
}
.header .currencyDiv .flag {
  width: 27px;
  height: 19;
}
.background {
  background-image: url("/assets/images/background-picture.jpg");
  background-size: cover;
  background-position: bottom;
  z-index: 2;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(51,51,51,0.5);
}
.text {
  color: white;
  text-align: center;
  padding: 7rem;
}
.homepageDiv {
  margin: 0 10rem;
}
.formsParent {
  position: sticky;
  z-index: 3;
  top: 0;
  bottom: 180px;
  margin-bottom: 1rem;
}
.formParent {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-gap: 5px;
  padding: 1.5rem;
  width: 70%;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin: auto;
}
.searchInput{
  position: relative;
  width: 450px;
  height: 35px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 0.5rem 2.5rem;
  font-size: 12px;
  grid-column: 1;
}
.formParent i {
  position: absolute;
  left: 240px;
  bottom: 33px;
  z-index: 5;
}
.search-icon {
  background-color: transparent;
  color: #bbb;
}
.dateInput {
  width: 300px;
  height: 35px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 0.5rem;
  font-size: 12px;
  grid-column: 2;
}
.findButton {
  grid-column: 3;
  background-color: #00aeff;
  color: white;
  border-radius: 3px;
  height: 35px;
}
.textDiv {
  text-align: center;
  line-height: 2rem;
  color: #4f4f4f;
  margin-bottom: 1rem;
}
.line {
  background-color: #00aeff;
  width: 3rem;
  margin: auto;
  margin-bottom: 3rem;
  padding: 0.1rem;
  border-radius: 50px;
}
.cities ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0rem;
  list-style: none;
  margin-bottom: 3rem;
}
.cities li {
  border: 1px solid #00aeff;
  border-radius: 3px;
  padding: 0.3rem;
  text-align: center;
  line-height: 1.5rem;
  width: 70%;
}
.cities .state {
  color: #00aeff;
  font-weight: bold;
}
.cities p {
  color: #4f4f4f;
}
.cities li:hover {
  background: #00aeff;
  color: white;
}
/* .cities h4:hover {
  color: white;
}
.cities p:hover {
  color: white;
} */

.topDeals {
  margin: 0 10rem;
}
.tdUl {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  grid-gap: 1rem;
}
.tdLi img {
  width: 100%;
}
.tdLi {
  list-style: none;
}
.tdLi .texts {
  border: 1px solid #bdbdbd;
  border-top: none;
  border-radius: 0 0 3px 3px;
  padding: 0.5rem;
  line-height: 1.5rem;
  position: relative;
  z-index: 2;
  bottom: 50px;
  background-color: white;
}
.tdLi .texts h4 {
  color: #00aeff;
}
.tdLi .texts p {
  color: #4f4f4f;
  font-size: 0.8rem;
}
.travel {
  margin-bottom: 3rem;
}
.travelUl {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  grid-gap: 1.5rem;
  list-style: none;
}
.travelBG {
  position: relative;
}
.travelBG img {
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
.travelOverlay {
  background-color: rgba(51,51,51,0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  bottom: 0;
  border-radius: 3px;
}
.travelText {
  color: white;
  font-size: 2rem;
  text-align: center;
  padding-top: 5rem;
}
.booking {
  margin-bottom: 3rem;
}
.selections {
  display: grid;
  grid-template: repeat(10, 1fr)/repeat(4, 1fr);
  grid-gap: 1rem;
}
.selections .states h5 {
  color: #00aeff;
}
.selections .states p {
  font-size: 0.8rem;
}
.specials {
  background-color: #fafafa;
  padding: 2rem;
  margin: 0;
}
.specialOffer {
  margin-bottom: 3rem;
}
.specialOffers {
  margin-bottom: 2rem;
}
.specialOffer input {
  width: 450px;
  height: 35px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-size: 12px;
}
.specialOffer button {
  padding: 0.5rem 1.5rem;
  background-color: #00aeff;
  color: white;
  border-radius: 3px;
  height: 35px;
}